.DS_Store
Thumbs.db

.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vs/

bin/
obj/
[Bb]uild/
[Bb]uildArtifacts/
TestResults/
*.exe
*.dll
*.pdb
*.cache
*.dotCover

packages/
*.nupkg
.nuget/

appsettings.Development.json
secrets.json
*.env
.env
docker-compose.override.yml

Dockerfile
docker-compose.yml
docker-compose.*.yml
.dockerignore

*.testsettings
*.testlog

publish/
out/

*.log
*.tmp
*.cache
*.pid
*.pid.lock

*.swp
*.*~
project.lock.json

_ReSharper.*
*.sln.ide

*.coverage
*.coveragexml

func/